/* Mobile Styles */
@media only screen and (max-width: 400px) {
  body {
    background-color: rgb(255, 255, 255);
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    background-color: rgb(255, 255, 255);
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  body {
    background-color: rgb(255, 255, 255);
  }
}
