@import url("https://fonts.googleapis.com/css?family=Lexend+Giga|Abel&display=swap");

* {
  flex-wrap: wrap;
}

.page {
  display: flex;
  background-image: linear-gradient(rgb(155, 156, 184), rgb(255, 255, 255));
}

#header {
  margin-top: 2px;
  margin-left: 2rem;
  padding-top: 1rem;
  font-family: "Lexend Giga", sans-serif;
  text-align: center;
  font-size: 55px;
  color: rgb(21, 55, 75);
  width: 100% !important;
}

#navbar {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
  font-family: "Lexend Giga", sans-serif;
  font-size: 15, 5px;
  color: white;
  width: 100% !important;
}